.app-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.sidebar {
    width: 250px;
    flex-shrink: 0;
}

.main-content {
    flex-grow: 1;
    overflow-y: auto;
    background-color: var(--background-dark);
    padding: 2rem;
}